[Unit]
Description=Update Pi-hole CPU temperature JSON every 30 seconds

[Timer]
OnBootSec=15
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
